.soonPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .soonImage {
    display: flex;
    position: relative;
    width: 1000px;
    height: auto;
    animation: spinAnimation 0.5s linear;
    /* Apply spinning animation */
  }

  .kepalaImage {
    position: relative;
    width: 150px;
    top: -120px;
    right: 340px;
    height: auto;
    animation: spinAnimation 2.5s;
  }

  @keyframes spinAnimation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@media only screen and (max-width:1000px) {
  .soonPage {
    .soonImage {
      display: flex;
      position: relative;
      width: 350px;
      height: auto;
      animation: spinAnimation 0.5s linear;
      /* Apply spinning animation */
    }

    .kepalaImage {
      position: relative;
      width: 70px;
      top: -60px;
      right: 120px;
      height: auto;
      animation: spinAnimation 2.5s;
    }
  }
}